* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Column {
    padding: 10px;
    background-color: #9BD4FE;
    position: relative;
    font-size: 75%;
}

.Section-Title {
    background-color: #118AEF;
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
    font-size: 12px;
    
    
}

@media screen and (min-width: 992px) {
    /* desktop styles go here */
  }

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*  tablet styles go here */
  }

@media screen and (max-width: 767px) {
    /*  mobile styles go here */
  }  